body {
    width: 100%;
    margin: 0;
}

.card {

    display: inline-block;
    width: 100px;
    padding: 1%;
    width: fit-content;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: rgb(201, 255, 210) dotted 2px;
    border-radius: 2.5%;
    box-shadow: 5.4px 10.9px 10.9px hsl(0deg 0% 0% / 0.33);
    margin: 1%;

}

.card:hover {
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.card img {
    width: 90px;
}




.card .main {
    color: #4C0070;
}

.section .secHead {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    color: #160040;
    text-align: center;
    border-top: 2px dotted #79018C;
    border-bottom: 2px dotted #79018C;

}

.lntr {
    text-decoration: line-through;
}

.card button {
    border-top: 1px dotted #ffffff;
    border-top: 1px dotted #ffffff;

    border-radius: 5%;
    outline: 0;
    padding: 7px;
    color: #e9bbff;
    background-color: #9A0680;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.card .addCart {
    background-color: #4C0070;

}

.card button:hover {
    opacity: 0.7;
}